<form action="" method="post" id="upload-form">
  <h2>Upload Image</h2>
  <fieldset>
    <p class="help">
      Please select the file you want to upload as an image attachment to this
      sketch.
    </p>
    <table summary=""><tbody><tr>
      <th><label>File:</label></th>
      <td><input type="file" name="_attachments"></td>
    </tr><tr>
      <td id="progress" colspan="2">&nbsp;</td>
    </tr></table>
  </fieldset>
  <div class="buttons">
    <input type="hidden" name="_rev" value="">
    <button type="submit">Upload</button>
    <button type="button" class="cancel">Cancel</button>
  </div>
</form>
