<h2>Add a new sketch template</h2>

<canvas id="view" class="new preview center"></canvas>

<form action="#/manage/new" method="post" class="processing" id="sketch_form">
  
  <p>
    <label for="sketch_name">Sketch name:</label>
    <input type="text" name="sketch_name" value="" id="sketch_name" class="title" />
  </p>
  
  <p>
    <label for="sketch_code">Sketch code:</label>
<textarea class="source" name="sketch_code" id="sketch_code"><%= APP_DATA.starting_sketch.chomp().trim() %></textarea>
  </p>
  
  <p>
    <i>You can add an image file after the sketch has been initially created.</i>
  </p>
  
  <p>
    <input type="button" name="preview" value="Preview" id="preview_sketch" class="preview" />
    <input type="submit" name="add" value="Add" id="add_sketch" />
    <small><a href="#/manage">Cancel</a></small>
  </p>

</form>