<div id="main_container" class="main_splitter">
  
  <div class="show">
    <canvas id="view" class="new preview center"></canvas>
      
    
    <form action="#/manage/new" method="post" class="processing" id="sketch_form">

        <label for="sketch_name">Sketch name</label>
        <input type="text" name="sketch_name" value="" id="sketch_name" class="title" />

        <label for="sketch_code">Sketch code</label>
        <textarea class="source" name="sketch_code" id="sketch_code"><%= APP_DATA.starting_sketch.chomp().trim() %></textarea>


    </form>
    
    
    
  </div>
  <div class="info">  
    
    <p><b>Add a new sketch template</b></p>
    
    <ul class='info_options'>
      <li class='button'><a class="preview_sketch">Preview</a></li>
      <li class='button no_toggle'><a class="submit_sketch_form">Add</a></li>
    </ul>
    
    <p>
      <i><small>You can add image files after the sketch has been created<small></i>
    </p>
  </div>
 
</div>