<div id="main_container" class="main_splitter">
  <div class="show">
    
    <div style="width:0;height:0;line-height:0;display:none;" class="hidden_vars">
      <% if (item._attachments) { $.each(item._attachments, function(k,v) { %>
        <img src="../../<%= item._id %>/<%= k %>" id="<%= k %>" class="<%= k.cssify() %>" />
      <% }); } %>
    </div>
    
    <canvas id="view"></canvas>

    
  </div>
  <div class="info">
    <p>
      <b><%= item.name %></b>
    </p>
    
    <ul class='info_options'>
      <li class='button no_toggle'><a href="#/sketch/reload/<%= item._id %>">Regenerate</a></li>
      <li class='button no_toggle'><a href="#/renderings/save/<%= item._id %>">Save</a></li>
    </ul>
    
    
  </div>
</div>