<ul class="proceed">
  <li><a href="#/renderings">Browse</a> previously created renderings</li>
  <li><a href="#/sketches">Generate</a> a new rendering</li>
  <li><a href="#/manage">Manage</a> template sketches</li>
</ul>

<p class="about">
  <b>What's going on here?</b>
  This is a simple study in non-repeated form, shape, color and animation. Art from code, code from art. The <a href="http://www.processing.org">Processing</a> programming language and <a href="http://www.processingjs.org">Processing.js</a> Javascript extension are used to generate unique renderings based on template sketches. Bothe the template sketches and resulting renderings are stored in <a href="http://couchdb.apache.org/">CouchDB</a> documents. <a href="#/credits">Lots of other neat-o technologies and libraries</a> are also used here.
</p>